---
title: Productos
display: true
---
<div id='products' class='content-area'>
	<div class="section">
		<h2>{{ products.title }}</h2>
		<p>{{ products.description }}</p>	
		<div class="products-list">
			{{#each products.categories}}
		    	<h3>{{ category }}:</h3>
		    	{{#each items}}
		    		<div class="products-info">
			    		<p>{{ name }}</br>
			    		{{ description }}</br>
			    		{{ price }}</p>			    		
                		<img class="header-logo" src="{{image}}">            				
			    	</div>	
			    {{/each}}						
		    {{/each}}						    
	    </div>
    </div>	
</div>

